server:
  forward-headers-strategy: framework
  port: 8081
  servlet:
    session:
      timeout: 7d

eureka:
  instance:
    hostname: localhost
    prefer-ip-address: true
    ip-address: 127.0.0.1
    instance-id: ${spring.application.name}:${server.port}
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/

spring:
  datasource:
    url: jdbc:mysql://s4.java21.net:13306/project_be11_team3_dev
    username: project_be11_team3
    password: ${PASSWORD}
  data:
    redis:
      host: localhost
      port: 6379
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate.globally_quoted_identifiers: true

  rabbitmq:
    host: localhost
    port: 5672
    username: admin
    password: 1234
